
.dropTarget {
  display: inline;
}

.Integration {
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  font-weight: bold;
  height: 140px;
  position: relative;
  padding-top: 130px;
  top: 0;
  width: 140px;
}

.IntegrationBubble {
  position: absolute;
  border: 1px solid #bbb;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  top: -10px;
  left: -10px;

  &:global(.open) {
    padding-top: 160px;
    top: -40px;
    left: -40px;
    height: 220px;
    width: 220px;
  }

  &:global(.canDrop) {
    box-shadow: 0 0 20px -8px blue;
  }

  transition-duration: .1s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

.IntegrationAction {
  display: none;
  color: #aaa;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: -5px;
  width: 100%;

  &:global(.open) {
    display: block;
  }
}

.IntegrationName {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
}
